@media (min-width: 576px) {
    .home.text h1 {
        display: block;
        text-align: right;
    }

    .home.text {
        display: block;
        text-align: right;
        width: 80%;
    }
}
