{{ define "main" }}
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}

        {{- range (.Paginate (.Pages.GroupByDate "2006") 7 ).PageGroups }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{- range .Pages }}
                        <li class="post-item">

                            <a href="{{.Permalink}}">
                                {{ with .Resources.GetMatch (.Params.cover) }}

                                {{- partial "image-processing.html" . -}}
                                {{/* Move this to partial ^ */}}

                                {{ $resource := .Params.cover }}
                                {{ $tinyw := default "500x" }}
                                {{ $smallw := default "800x" }}
                                {{ $mediumw := default "1200x" }}
                                {{ $largew := default "1500x" }}

                                {{ $tiny := (.Resize $tinyw ) "500w" }}
                                {{ $small := (.Resize $smallw) "800w" }}
                                {{ $medium := (.Resize $mediumw) "1200w" }}
                                {{ $large := (.Resize $largew) "1500w" }}

                                <img
                                    class="post-image"
                                    sizes="(min-width: 35em) 1200px, 100vw"
                                    srcset='
                                      {{ $small.Permalink }},
                                      {{ $medium.Permalink }},
                                      {{ $large.Permalink }}
                                    '
                                    src="{{ .Permalink }}"
                                >
                                {{ end }}
                            </a>
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                            </a>
                        </li>
                    {{- end }}
                </ul>
            </div>
        {{- end }}
        {{ partial "pagination.html" . }}
    </main>
{{ end }}
