<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>
                <a href="/posts/">Blog</a>
            </span>
            <span>
                <a href="/categories/design/">Design</a>
            </span>
            <span>
                <a href="/categories/development/">Development</a>
            </span>
            <span>
                <a href="/categories/gaming/">Gaming</a>
            </span>
            <span>
                <a href="/categories/gunpla/">Gunpla</a>
            </span>
            <span>
                <a href="/categories/photography/">Photography</a>
            </span>
            <span>
                <a href="/categories/travel/">Travel</a>
            </span>

        </div>
    </div>

    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            {{ if .Site.Author.name }}
                <span>
                    <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
                </span>
            {{ end }}
        </div>
    </div>
</footer>
