<!-- "site root"\layouts\shortcodes\foldergallery.html -->

<style>
  div.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  div.gallery a {
    flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    display: flex;
  }

  div.gallery a img {
    height: 200px;
    object-fit: cover;
    flex-grow: 1;
  }

</style>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<div class="gallery">

  {{ with .Page.Resources.ByType "image" }}

    {{ range . }}

      {{- partial "image-processing.html" . -}}
      {{/* Move this to partial ^ */}}

      {{ $tinyw := default "500x" }}
      {{ $smallw := default "800x" }}
      {{ $mediumw := default "1200x" }}
      {{ $largew := default "1500x" }}

      {{ $tiny := (.Resize $tinyw ) "500w" }}
      {{ $small := (.Resize $smallw) "800w" }}
      {{ $medium := (.Resize $mediumw) "1200w" }}
      {{ $large := (.Resize $largew) "1500w" }}

      <a data-fancybox="gallery" href="{{ .Permalink }}">
        <img
          sizes="(min-width: 35em) 1200px, 100vw"
          srcset='
                      {{ $small.Permalink }},
                      {{ $medium.Permalink }},
                      {{ $large.Permalink }}
                    '
          src="{{ .Permalink }}"
        >
        <br>
      </a>
    {{ end }}

  {{ end }}


</div>
