<!-- "site root"\layouts\shortcodes\foldergallery.html -->

<style>
  div.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  div.gallery a {
    flex-grow: 1;
    object-fit: cover;
    margin: 5px;
    display: flex;
  }

  div.gallery a img {
    height: 250px;
    object-fit: cover;
    flex-grow: 1;
  }

</style>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<div class="gallery">

  {{ $gallery := .Get "src" }}
  {{ range $.Page.Params.gallery }}

  <a data-fancybox="gallery" href="#">
    <img
      srcset='
      {{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryDefault }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $gallery }}/{{ . }},
      {{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryMedium }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $gallery }}/{{ . }},
      {{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryLarge }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $gallery }}/{{ . }}
      '
      src="{{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryDefault }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ . }}"
    >
    <br>

  </a>

  {{ end }}

</div>
