
{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $src := .Get "src" }}

<img
    class="post-image"
    srcset='
      {{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryDefault }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $src }},
      {{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryMedium }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $src }},
      {{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryLarge }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $src }}
    '
    src="{{ $.Site.Params.cloudinaryBaseUrl }}{{ $.Site.Params.cloudinaryDefault }}/{{ $.Site.Params.cloudinaryMediaUrl }}{{ $src }}"
>
